/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}

div.container {
  margin-bottom: 3cm;
  margin-top: 3cm;
}

h2.display-4 {
  margin-bottom: 1cm;

}

div.col-md-8 {
  margin-bottom: 1cm;
  margin-top: 1cm;

}
